name: R-CMD-check

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  R-CMD-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::rcmdcheck
            any::covr
          needs: check

      - uses: r-lib/actions/check-r-package@v2

      - name: Upload coverage to Codecov
        if: github.event_name == 'push'
        run: covr::codecov()
        shell: Rscript {0}
